.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh; /* Ocupa toda la pantalla verticalmente */
    border: 0px solid black; /* Borde alrededor del contenedor */
    padding: 30px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    /*background-color: #8b470f; /* Color de fondo */
    /*box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); /* Sombra */
    
}
